:root {
    --md-text-font: "Roboto";
}

html {
    font-size: 110%;
}

.md-typeset :is(.admonition, details) {
    font-size: 0.8rem;
}

.banner {
    display: flex;
    align-items: center;
    margin: 20pt 25pt 7.5pt 25pt;
    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
    }
    h1 {
        color: #000;
    }

}

.body {
    display: flex;
    /* Zero top margin as the elements inside tend to have margins instead */
    margin: 0pt 25pt 20pt 25pt;

    .left {
        flex: 0 0 calc(50% - 12.5pt);
        margin-right: 25pt;
    }

    .right {
        flex: 1;
    }
}

hr {
    border-bottom-width: 1pt !important;
    border-bottom-style: solid !important;
    height: 0;
    margin: 0;
}

.md-typeset ul li {
    margin-bottom: 0;
}
